.add-worker-button {
  left: 50%;
  transform: translate(-50%);
  width: 50%;
}

.worker-modal {
  position: absolute;
  width: 400px;
  background-color: $white;
  border: 2px solid $black;
  padding: 20px;
  left: 50%;
  margin-left: -200px;
  top: 50%;
  margin-top: -200px;
}
