/* roboto-100 - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: local(""), url("./roboto/roboto-v27-latin-ext_latin-100.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("./roboto/roboto-v27-latin-ext_latin-100.woff")
      format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300 - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("./roboto/roboto-v27-latin-ext_latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("./roboto/roboto-v27-latin-ext_latin-300.woff")
      format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("./roboto/roboto-v27-latin-ext_latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("./roboto/roboto-v27-latin-ext_latin-regular.woff")
      format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("./roboto/roboto-v27-latin-ext_latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("./roboto/roboto-v27-latin-ext_latin-500.woff")
      format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("./roboto/roboto-v27-latin-ext_latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("./roboto/roboto-v27-latin-ext_latin-700.woff")
      format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-900 - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("./roboto/roboto-v27-latin-ext_latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("./roboto/roboto-v27-latin-ext_latin-900.woff")
      format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
