.header{
  width: 100%;
  text-align: center;
}

.cols-3-to-1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid grey;
}

.cols-3-to-1 :nth-child(1) {
  flex-grow: 3;
}

.flex {
  display: flex;
}

.f-row {
  flex-direction: row;
}