.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  width: 100%;
  margin-top: 10px;
}

.header > form {
  margin-left: auto;
  margin-right: 15px;
  border: 1px solid rgba(0, 0, 0, 0.37);
  border-radius: 5px;
  padding: 15px;
}
