.cell {
  border: 1px solid black;
}

.cell > span {
  margin: 5px 15px;
  font-size: 15px;
}

.cell-input {
  font-size: 14px;
  width: 80%;
  height: 100%;
  border: none;
  box-sizing: border-box;
  margin: 5px;
}

.empty {
  border: 0px solid white;
  opacity: 0;
}
