.cell {
  /* padding: 5px 15px; */
  border: 1px solid black;
}

.cell > span {
  margin: 5px 15px;
  font-size: 15px;
}

.cell-input {
  font-size: 14px;
  width: 80%;
  height: 100%;
  border: none;
  box-sizing: border-box;
  margin: 5px;
}

.hidden {
  border: 0px solid white;
  opacity: 0;
}

.SU {
  background-color: rgba(219, 219, 4, 0.945);
}

.SA {
  background-color: rgba(3, 3, 219, 0.904);
}
