.row {
  min-height: 5px;
}

.WUH {
  background-color: rgb(255, 253, 240);
}

.WOH {
  background-color: rgb(245, 223, 81);

}

.DSS {
  background-color: rgb(114, 221, 123);
}

.LLB {
  background-color: rgb(240, 213, 37);
}