.DN {
  color: blueviolet;
  background-color: rgb(255, 255, 255);

}

.D {
  color: green;
  background-color: rgb(255, 255, 255);
}

.L4 {
  background-color: #ff0000e0;
}

.U {
  background-color: #92d050;
}

.N {
  color: darkred;
  background-color: rgb(255, 255, 255);
}

.RP {
  color: green;
  background-color: rgb(255, 255, 255);
}
