/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

/*
?Styling for shift autocomplete component
*/
.more-left-margin {
  margin-left: -6px !important;
}
.autoSeparator {
  flex: 1;
  width: 90%;
  background-color: $gray-400;
  height: 1.25px;
  display: flex;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.listbox {
  position: absolute;
  padding: 10px 0;
  margin: -5px 0 0 -2px;
  z-index: 1;
  overflow: auto;
  font-family: $font-family-primary;
  font-size: $font-size-lg;
  text-align: left;
  color: $primary;
  background-color: $white;
  font-weight: $font-weight-normal;
  box-shadow: 0 4px 7px rgba(16, 32, 70, 0.2);
  max-height: 500px;
  border-radius: 7px;
  min-width: 260px;
  z-index: 300;

  & > div {
    display: flex;
    margin-left: 0.6em;
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    letter-spacing: 0.75px;
    align-content: center;
    justify-items: center;
    justify-content: left;
    &:hover {
      font-weight: $font-weight-extra-bold;
      cursor: pointer;
    }
    &[data-focus="true"] {
      cursor: pointer;
    }
    > .optionLabel {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin-right: 0.2em;
      word-wrap: normal;
      overflow-wrap: normal;
    }
    > .colorSamplee {
      display: flex;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      margin: 0 0;
      align-self: center;
    }
  }
}
