.btn {
  background: none;
  border: none;
  padding: 5px 35px 5px;
  margin: 5px 10px 0 10px;
  white-space: nowrap;
  border-radius: $btn-border-radius;
  font-family: $btn-font-family;
  font-size: $btn-font-size-lg;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  letter-spacing: $btn-letter-spacing;
  text-align: $btn-text-align;
  transition: box-shadow 0.5s;

  &:hover {
    cursor: pointer;
    font-weight: 600;
    box-shadow: 1px 3px $gray-500;
  }

  &:focus {
    outline: none;
  }
}

.btn-primary {
  background-color: $primary;
  color: white;
}

.btn-secondary {
  background-color: $gray-100;
  color: $secondary;
}

.btn-outlined {
  border: 1px solid $primary;
  background-color: $white;
  color: $primary;
}

.btn-circle-outlined {
  padding: 0;
  height: $btn-circle-outlined-size;
  width: $btn-circle-outlined-size;
  margin: auto 10px;
  border-radius: 50%;
  border: 1px solid $primary;
  background-color: $white;
  color: $primary;
  display: flex;
  justify-content: center;
}

.btn-dropdown {
  border-radius: 0px;
  &:hover {
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0px 0px;
  }
  float: left;
  clear: left;
  padding: 5px 7px 5px;
  line-height: 20px;
}

.dropdown-buttons-container {
  overflow: hidden;
  border-bottom-left-radius: $btn-border-radius;
  border-bottom-right-radius: $btn-border-radius;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 0 2.8px 2.2px $gray-400, 0 6.7px 5.3px $gray-400;
  position: relative;
  top: -20px;
  padding-bottom: 10px;
  padding-top: 25px;
}
