/* This Source Code Form is subject to the terms of the Mozilla Public 
 * License, v. 2.0. If a copy of the MPL was not distributed with this 
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
.btn {
  background: none;
  border: none;
  padding: 5px 35px 5px;
  margin: 5px 10px 0 10px;
  white-space: nowrap;
  border-radius: $btn-border-radius;
  font-family: $btn-font-family;
  font-size: $btn-font-size-lg;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  letter-spacing: $btn-letter-spacing;
  text-align: $btn-text-align;
  transition: box-shadow 0.5s;

  &:hover {
    cursor: pointer;
    font-weight: 600;
    box-shadow: 1px 3px $gray-500;
  }

  &:focus {
    outline: none;
  }
}

.btn-primary {
  background-color: $primary;
  color: white;
}

.btn-secondary {
  background-color: $gray-100;
  color: $secondary;
}

.btn-outlined {
  border: 1px solid $primary;
  background-color: $white;
  color: $primary;
}

.btn-circle-outlined {
  padding: 0;
  height: $btn-circle-outlined-size;
  width: $btn-circle-outlined-size;
  margin: auto 10px;
  background-color: $opacity-0;
  display: flex;
  justify-content: center;
}

.header-button {
  width: 187px;
}
