/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

.dropdown-container {
  display: flex;
}

.dropdown-buttons-list {
  overflow: hidden;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: $dropdown-box-shadow;
  position: relative;
  margin-top: -20px;
  background-color: $white;
  white-space: nowrap;

  .dropdown-button {
    position: relative;
    width: 100%;
    text-align: left;
    height: 100%;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0;
      background-color: $dropdown-hover-bg;
    }

    padding: 7px 16px 7px;
    background-color: $white;
    color: $primary;
  }

  .dropdown-button:first-child {
    padding-top: 25px;
  }
}

.centeredButtonWithArrow {
  width: calc(100% + 40px);
  margin-left: -15px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}

.z-index100 {
  z-index: 100;
}

#contract-onTopButton,
#file-dropdown-onTopButton,
#position-onTopButton,
#contract-time-dropdown-onTopButton,
#colors-onTopButton {
  z-index: 200;
  position: relative;
}

#file-dropdown,
#file-dropdown-onTopButton {
  width: 122px;
}

#position,
#position-onTopButton {
  width: 164px;
}

#contract,
#contract-onTopButton {
  width: 192px;
}

#contract-time-dropdown,
#contract-time-dropdown-onTopButton {
  width: 112px;
}

#colors,
#colors-onTopButton {
  width: 200px;
}

.dropdown-colors-list {
  overflow: hidden;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: $dropdown-box-shadow;
  position: relative;
  margin-top: -20px;
  white-space: nowrap;
}

.colorSampleHolderHolder {
  margin-top: 20px;
  padding: 10px 20px 20px;
}
.colorSampleHolder {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
}

.colorSample {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-top: 10px;

  &:hover {
    cursor: pointer;
  }
}

.colorSampleButton {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.marginTop10px {
  margin-top: 10px;
}

.margin6px0 {
  margin: 6px 0;
}

.sitBottom {
  position: absolute;
  bottom: 24px;
}

.alignCenter {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}

.margin-24left {
  margin-left: -24px;
}
