.error-loading-text {
  display: block;
  margin: auto;
  text-align: center;
  font-weight: 500;
  size: 16px;
  line-height: 28px;
  color: $primary;
  clear: both;
  position: relative;
  top: 27px;
}

.error-loading-container {
  display: block;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  Button {
    display: block;
    margin: auto;
    position: relative;
    top: 41px;
  }
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  img {
    display: block;
    margin: auto;
  }
}
