.error-list-item {
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #c8dfff;
  margin-left: 24px;
  margin-right: 23px;
  margin-bottom: 8px;
  display: flex;
  align-items: stretch;
  position: relative;

  .red-rectangle {
    border-radius: 4px;
    width: 0.8%;
    position: absolute;
    height: 100%;
    background-color: #c60000;
  }

  .error-date {
    color: #3c69a8;
    size: 14px;
    width: 25%;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;

    .error-date-content {
      font-family: "Roboto";
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  .error-text {
    color: #1d3557;
    size: 13px;
    width: 54.2%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Roboto";
  }

  .error-btn {
    position: relative;
    height: 100%;
    width: 20%;
    align-items: center;
    Button {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}
