/* This Source Code Form is subject to the terms of the Mozilla Public 
 * License, v. 2.0. If a copy of the MPL was not distributed with this 
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
@import "variables";
.label {
  color: $primary-header-color;
  font-size: $font-size-lg;
  font-family: $font-family-primary;
  font-weight: $font-weight-extra-bold;
  line-height: $modal-title-line-height;
}
