/* This Source Code Form is subject to the terms of the Mozilla Public 
 * License, v. 2.0. If a copy of the MPL was not distributed with this 
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
@import "variables";
.label {
  color: $primary-header-color;
  font-size: $font-size-lg;
  font-family: $font-family-primary;
  font-weight: $font-weight-extra-bold;
  line-height: $modal-title-line-height;
}

.app-error-button > p {
  color: $brand-info !important;
  text-decoration: underline;
}

.app-error-button > p:visited {
  color: $dark-gray;
  text-decoration: underline;
}

.app-error-button > p:hover {
  color: $brand-primary !important;
  text-decoration: underline;
  cursor: pointer;
}

.error-modal-text {
  margin-left: 10px;
}
