/* This Source Code Form is subject to the terms of the Mozilla Public 
 * License, v. 2.0. If a copy of the MPL was not distributed with this 
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
#header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: $header-height;
  background-color: $primary-header-color;
  padding: 0 20px 0 20px;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  z-index: 2;

  #AssignmentIndIcon {
    color: $header-text-color;
  }

  .filler {
    flex-grow: 1;
  }

  .header-icon {
    margin: auto 5px;
    cursor: pointer;
  }

  .reportIssueLink {
    color: $header-text-color;
    padding-right: 5px;
    letter-spacing: 0.75px;
    outline: none;
    text-transform: none;
    &:hover {
      text-decoration: underline;
      transform: none;
    }
  }
}
