#header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5%;
  background-color: $primary-header-color;
  padding: 0 20px 0 20px;
  align-items: center;
  justify-content: left;

  ul {
    list-style-type: none;
    margin: 0 20px 0 20px;
    padding: 0;
    overflow: hidden;
    height: 100%;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: $white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: $primary-header-color-selected;
    color: $white;
  }

  .active {
    font-weight: bold;
  }

  .filler {
    flex-grow: 1;
  }
}
