#month-switch {
  font-family: $font-family-table;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 1px;
  position: fixed;
  * {
    color: $header-text-color;
  }
  span {
    margin: 5px;
  }
  .arrow-button {
    outline: none;
  }
}

.returnToNowBtn {
  margin-top: 0px !important;
}

.newMonthComponents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 85vh;

  img {
    width: 150px;
    height: 100px;
  }

  p {
    color: $primary;
    font-weight: $font-weight-bold;
    margin-top: 1rem;
  }

  .newPageButtonsPane {
    box-sizing: border-box;
    display: inline;
    * {
      font-weight: $font-weight-bold;
    }
  }
}
