/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
#month-switch {
  * {
    color: $header-text-color;
  }
  .month-tittle {
    margin: 5px;
    font-family: $font-family-primary;
    font-weight: $heading-title-font-weight;
    font-size: $heading-title-font-size;
    letter-spacing: $heading-title-letter-spacing;
    width: 135px;
    text-align: center;
  }
  .arrow-button {
    outline: none;
    font-size: $icon-size-sm;
  }
  .switch-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.returnToNowBtn {
  margin-top: 0 !important;
  font-size: small !important;
  padding: 0px 10px !important;
  margin-bottom: 0px !important;
}
.hidden {
  opacity: 0;
}
.month-switch-container {
  position: relative;
  left: -1%;
}

.newMonthComponents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;

  img {
    height: 270px;
  }

  #corrupted_img {
    width: 150px;
    height: 100px;
  }

  pre {
    color: $primary;
    font-weight: $font-weight-bold;
    font-family: $font-family-base;
    font-size: $font-size-base;
    margin-top: 1rem;
  }

  .newPageButtonsPane {
    box-sizing: border-box;
    display: inline;
    * {
      font-weight: $font-weight-bold;
    }
  }
}
