#month-switch {
  font-family: $font-family-table;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 1px;
  * {
    color: $header-text-color;
  }
  span {
    margin: 5px;
  }
  .arrow-button {
    outline: none;
  }
}
