/* This Source Code Form is subject to the terms of the Mozilla Public 
 * License, v. 2.0. If a copy of the MPL was not distributed with this 
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

.report-issue-modal-body {
  p {
    font-weight: bolder;
    letter-spacing: 0.75px;
    margin-top: 24px;
  }

  TextField {
    letter-spacing: 0.25px;
    margin-top: 0px;
  }

  .MuiTextField-root {
    .MuiInput-underline {
      &:before {
        border-color: $primary;
        border-width: 1px;
      }
      &:after {
        border-color: $primary;
        border-width: 1px;
      }
      &:hover:before {
        border-color: $primary;
      }
      &:hover:after {
        border-color: $primary;
      }
    }
  }
}
