/* This Source Code Form is subject to the terms of the Mozilla Public 
 * License, v. 2.0. If a copy of the MPL was not distributed with this 
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
// Route Buttons

$indicator-color: #1d3557;
$route-text-color: #000000;
$disabled-text-color: #d1d6dc;

:export {
  indicatorColor: $indicator-color;
  routeTextColor: $route-text-color;
  disabledTextColor: $disabled-text-color;
}

.tabs-and-buttons {
  width: 100%;
}

.tabs-row {
  padding: 0 30px 0 30px;
  display: flex;
  flex-direction: row;
  width: 100%;
  .filler {
    flex-grow: 1;
  }
}

#adjusted-tab-padding {
  padding: 0 0 0 10px;
}
