.save-changes-modal-body {
  p {
    font-weight: bolder;
    letter-spacing: 0.75px;
    margin-top: 24px;
    margin-bottom: 0;
  }
}

.save-changes-modal-footer {
  p {
    color: black;
    padding: 0;
    margin: 0 0 0 15px;
  }
  div {
    height: 21px;
  }
}
