@import "variables";

.schedule-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  .schedule {
    margin: auto;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
  }

  .filler {
    flex-grow: 1;
  }

  #edit-panel-text-container {
    display: flex;
    flex-direction: column;

    p {
      margin: auto;
      color: $primary;
      border-radius: $btn-border-radius;
      font-family: $btn-font-family;
      font-size: $btn-font-size-lg;
      font-weight: $btn-font-weight;
      line-height: $btn-line-height;
      letter-spacing: $btn-letter-spacing;
      text-align: $btn-text-align;
      white-space: nowrap;
    }
  }

  .edit-icons {
    color: $primary;
    margin: auto;
    font-size: $icon-font-size-lg;
  }

  .editing-row {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    margin: 0;
  }

  #edit-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
