/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
@import "variables";

.schedule-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  .schedule {
    margin: auto;
    min-height: 80vh;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 5px;
  }

  .revision-type-container {
    font-size: $font-size-base;
    letter-spacing: 0.75px;
    font-family: $font-family-primary;
    color: $primary;
    padding: 0 25px 0 25px;
    .revision-select {
      border: 0;
      background: inherit;
      font-size: inherit;
      letter-spacing: inherit;
      font-family: inherit;
      color: inherit;
    }
    select:focus {
      outline: none !important;
    }
  }

  .revision-type-container {
    font-size: $font-size-base;
    letter-spacing: 0.75px;
    font-family: $font-family-primary;
    color: $primary;
    .revision-select {
      border: 0;
      background: inherit;
      font-size: inherit;
      letter-spacing: inherit;
      font-family: inherit;
      color: inherit;
    }
  }

  .filler {
    flex-grow: 1;
  }

  #edit-panel-text-container {
    display: flex;
    flex-direction: column;

    p {
      margin: auto;
      color: $primary;
      border-radius: $btn-border-radius;
      font-family: $btn-font-family;
      font-size: $btn-font-size-lg;
      font-weight: $btn-font-weight;
      line-height: $btn-line-height;
      letter-spacing: $btn-letter-spacing;
      text-align: $btn-text-align;
      white-space: nowrap;
    }
  }

  .edit-icons {
    color: $primary;
    font-size: $icon-font-size-lg;
    margin: auto 10px auto 10px;
  }

  .disabled-edit-icon {
    opacity: $btn-disabled-opacity;
    color: $gray-400;
  }

  .editing-row {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
  }

  #edit-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}

.disabled-submit-button {
  opacity: $btn-disabled-opacity;
}
