/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
.scheduleStyle {
  width: 100%;

  .calendarRow {
    width: 100%;
    height: 6.75vh;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
  }

  .isToptrue {
    border-top: 1px solid #d6d8e7;
  }

  .isLefttrue {
    border-left: 1px solid #d6d8e7;
  }

  .dayName {
    size: 14px;
    letter-spacing: 0.75px;
    font-weight: 400;
    width: 14.2%;
    height: 30px;
    padding: 5px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
  }

  .workersCalendarCell {
    width: 14.2%;
    height: 100%;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #d6d8e7;
    border-right: 1px solid #d6d8e7;
  }

  .TopCellPart {
    letter-spacing: 0.75px;
    font-weight: 400;
    display: flex;
    height: 40%;
    margin: 2px 5px 4px 5px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .notCurrentMonthtrue {
    color: $gray-500;
  }

  .BottomCellPart {
    height: 100%;
    min-height: 3vh;
    size: 4px;
    letter-spacing: 0.25px;
    font-weight: 800;
    display: flex;
    margin: 0 4px 4px 4px;
    justify-content: flex-start;
    flex-direction: row;
    border-radius: 2px;

    p {
      margin: auto;
    }
  }

  .leftBorder {
    width: 4px;
    height: 100%;
    margin-right: 4px;
    border-radius: 2px 0 0 2px;
  }

  .hasNexttrue {
    margin: 0 0 4px 4px;
    border-radius: 2px 0 0 2px;
  }
  .keepOnTrue {
    width: 100%;
    margin: 0 0 4px 0;
    border-radius: 0;

    .leftBorderColor {
      width: 0;
    }
  }
  .hasNextfalse {
    margin: 0 0 4px 0;
    width: 90%;
    border-radius: 0 2px 2px 0;
  }

  .keepOnFalse {
    margin-left: 4px;
  }

  .keepOnfalse_workersCalendartrueD {
    border-radius: 2px;
    margin-left: 5px;
    color: $black;
    padding-right: 5px;
    .leftBorderColor {
      width: 4px;
      background-color: $dzien;
    }
  }

  .keepOnfalse_workersCalendartrueDN {
    border-radius: 2px;
    margin-left: 5px;
    color: $white;
    padding-right: 5px;
    .leftBorderColor {
      width: 4px;
      background-color: $dzien-noc;
    }
  }

  .keepOnfalse_workersCalendartrueR {
    border-radius: 2px;
    margin-left: 5px;
    color: $black;
    padding-right: 5px;
    .leftBorderColor {
      width: 4px;
      background-color: $rano;
    }
  }

  .keepOnfalse_workersCalendartrueN {
    border-radius: 2px;
    margin-left: 5px;
    background-color: change-color($color: $noc, $alpha: 0.3);
    color: $white;
    padding-right: 5px;
    .leftBorderColor {
      width: 4px;
      background-color: $noc;
    }
  }

  .keepOnfalse_workersCalendartrueP {
    border-radius: 2px;
    margin-left: 5px;
    background-color: change-color($color: $popoludnie, $alpha: 0.3);
    color: $white;
    padding-right: 5px;
    .leftBorderColor {
      width: 4px;
      background-color: $popoludnie;
    }
  }
}
