/* This Source Code Form is subject to the terms of the Mozilla Public 
 * License, v. 2.0. If a copy of the MPL was not distributed with this 
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
// scrollable content

/* width */
$scrollbar-handle-size: 10px;
::-webkit-scrollbar {
  width: $scrollbar-handle-size;
  height: $scrollbar-handle-size;
}

@mixin scrollbar-component($alpha) {
  border-radius: $scrollbar-handle-size/2;
  background: change-color($color: $gray-600, $alpha: $alpha);
}

/* Track */
::-webkit-scrollbar-track {
  @include scrollbar-component($alpha: 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  @include scrollbar-component($alpha: 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @include scrollbar-component($alpha: 0.8);
}

$allowed-heights: 10vh, 20vh, 25vh, 50vh, 75vh, 100vh;
@each $height in $allowed-heights {
  .scrollableContainer#{$height} {
    overflow-y: scroll;
    max-height: $height;
    height: auto;
    display: block;
  }
}
