.edit-field {
  h4 {
    font-family: $font-family-base;
    font-weight: $font-weight-extra-bold;
    font-size: $font-size-base;
    color: $primary-header-color;
  }

  .MuiFormControl-root {
    margin-bottom: 20px;
  }

  .time-range {
    * {
      display: inline-flex;
    }
    p {
      font-weight: $font-weight-extra-bold;
      font-size: $font-size-base;
      color: $gray-700;
      margin-left: 10px;
      margin-right: 10px;
    }
    .MuiFormControl-root {
      width: 100px;
    }
  }

  label {
    color: $gray-700;
  }

  .MuiSvgIcon-root {
    fill: $primary-header-color;
  }

  .MuiRadio-colorSecondary.Mui-checked {
    color: $gray-700;
  }
  .MuiRadio-colorSecondary.Mui-checked:hover {
    background-color: $gray-100;
  }
  .MuiRadio-colorSecondary:hover {
    background-color: $gray-100;
  }
  .btn {
    margin-left: 0px;
  }
}
