.MuiDrawer-paper {
  width: 43%;
}

hr {
  border: 1px solid #f5f5f5;
}

.span-errors {
  font-family: $font-family-primary;
  font-weight: $font-weight-extra-bold;
  font-size: $font-size-base;
  line-height: 28px;
  color: #1d3557;
}

.error-span-header {
  margin: 1rem auto 1rem 16px;
  font-size: 20px;
}

.error-span-main-block {
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.error-numbers {
  padding-top: 5%;
}

.error-buttons-row {
  display: flex;
  margin: 4px 0 4px auto;
}

#error-buttons {
  padding: 0px 10px 0px;
  margin-inline-end: 5%;
  height: 30px;
  width: 120px;
}
