/* This Source Code Form is subject to the terms of the Mozilla Public 
 * License, v. 2.0. If a copy of the MPL was not distributed with this 
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;

  background: $white;
  border: 1px solid $table-border-color-grey;
  box-sizing: border-box;
  border-radius: 10px;

  overflow: hidden;

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    position: static;

    //text
    text-align: center;
    letter-spacing: 0.75px;
    font-family: $font-family-table;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;

    &:not(:last-child) {
      border-bottom: 1px solid $table-border-color-grey;
      &.selection {
        border-color: white !important;
      }
    }

    .mainCell {
      flex: 1 1 auto;
      border-left: 1px solid $table-border-color-grey;
      align-items: center;
      width: 120%;
      height: 100%;
      cursor: cell;
      padding: 0;
      overflow: hidden;
      &.selection {
        border-left: 1px solid white !important;
        background-color: white !important;
        outline-width: 1px;
        outline-style: solid;
        outline-color: white;
        box-shadow: 0px 4px 7px rgba(16, 32, 70, 0.2), 0px 0px 7px rgba(16, 32, 70, 0.2);
      }

      &.blocked {
        cursor: default !important;
      }

      .wrapContent {
        height: 100% !important;
        width: 100%;
        padding: 4px 0 4px 0;
      }

      .content {
        display: flex;
        justify-content: flex-start;
        height: 100% !important;
        width: 100%;

        p {
          display: flex;
          flex-direction: row;
          margin: auto;
          font-family: Roboto, serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 20px;
          letter-spacing: 0.75px;
          text-align: center;
          left: -2px;
        }

        input {
          position: relative;
          padding-left: 60%;
          outline: none;
          border: none;
          overflow: hidden;
          width: 170%;
          height: 50px;
          left: -2px;
          top: -5px;
          font-size: 14px;
          font-family: Roboto, serif;
          line-height: 20px;
          letter-spacing: 0.75px;
          margin-bottom: -8px;
        }
      }

      &:first-child {
        border-left: 0;
      }
    }

    .summaryCell {
      flex: 1 1 auto;
      align-items: center;
      height: 103%;
      width: 120%;
      border-top: 1px solid $table-border-color-grey;
      border-left: 1px solid $table-border-color-grey;

      padding-top: 8%;

      color: $cell-color;
      background: $white;

      &:first-child {
        border-left: 0;
      }
    }

    .overtimeHeaderCell {
      padding-top: 100%;
      padding-bottom: 100%;
      align-content: center;
      position: relative;
      bottom: 25%;

      height: 100%;
      width: 100%;
      border-left: 1px solid $table-border-color-grey;

      &:first-child {
        border-left: 0;
      }
    }

    #thisMonth {
      color: $cell-color;
      background: $white;
    }

    #otherMonth {
      color: $cell-other-color;
      background: $cell-other-month-background-color;
    }

    #weekend {
      color: $cell-other-color;
      background: $cell-weekend-background-color;
    }

    .timetableCell {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      align-items: center;
      padding-top: 50%;
      padding-bottom: 50%;
      width: 100%;
      border-left: 1px solid $table-border-color-grey;

      &:first-child {
        border-left: 0;
      }
    }

    #thisMonthHeader {
      color: $table-color;
      background: $header-curr-month-background-color;
    }

    #otherMonthHeader {
      color: $opacity-table-color-5;
      background: $opacity-table-background;
    }

    #weekendHeader {
      color: $table-color;
      background: $cell-weekend-header-background-color;
    }

    .cell-input {
      flex-direction: column;
      width: 100%;
      height: 35px;

      margin-top: -5px;
    }
  }

  #summaryRow {
    width: 102px;
    height: 40px;
  }

  #mainRow {
    width: 1156px;
    height: 40px;
  }

  #timetableRow {
    width: 1156px;
    height: 70px;
    cursor: default;
  }
}

#summaryTable {
  width: 102px;
  cursor: default;
}

#mainTable {
  width: 1156px;
}

#overtimeHeaderTable {
  width: 102px;
  height: 74px;
  cursor: default;
}

.summaryContainer {
  width: 134px;
  padding-left: 2%;
}

.sectionContainer {
  margin-bottom: 100px;
}

span {
  &.circle {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-bottom: -10%;
    padding-top: 10%;
    background: $primary;
  }

  &.today {
    font-family: $font-family-base;
    font-weight: 600;
    font-size: 16px;
    color: $white;
    margin-bottom: 10%;
  }

  &.bolded {
    font-family: $font-family-base;
    font-weight: 600;
    font-size: 16px;
  }

  &.rotated {
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-lr;
    transform: rotate(180deg);
  }

  .container {
    position: relative;
  }

  &.error-triangle {
    $border-width: 7px;
    position: absolute;
    top: 0px;
    right: -5px;

    display: block;
    width: 0;
    height: 0;
    border-left: $border-width solid transparent;
    border-right: $border-width solid transparent;

    border-bottom: $border-width solid $error-red;
    box-shadow: $error-triangle-box-shadow;

    transform: rotate(45deg);
    &.bottom-mirrored {
      transform: rotate(225deg);
      right: 32px;
      top: 33px;
    }
    &.bottom {
      top: 33px;
      transform: rotate(135deg);
    }
    &.line {
      right: 0px;
      top: 35px;
      transform: rotate(0deg);
      border-left: $border-width solid $error-red;
      border-right: 5 * $border-width solid $error-red;
      border-bottom: $border-width/2 solid $error-red;
    }
  }
}

p {
  &.relative {
    min-width: 10px;
    min-height: 10px;
    position: relative;
  }
}

.errorTooltip {
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 13px;
  border-radius: 4px;
  z-index: 3;
  max-width: 500px;
}

.cell-details-popper {
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 10px;
  font-size: 13px;
  border-radius: 4px;
  z-index: 2;
  box-shadow: 0 1.4px 1.1px rgba(0, 0, 0, 0.034), 0 3.3px 2.7px rgba(0, 0, 0, 0.048),
    0 6.2px 5px rgba(0, 0, 0, 0.06), 0 11.1px 8.5px rgba(0, 0, 0, 0.072),
    0 20.8px 25.4px rgba(0, 0, 0, 0.086), 0 50px 50px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

.errorTooltip-item {
  margin: 0px !important;
  .error-title {
    flex: 0.5 !important;
  }
  .error-text {
    padding: 0px 5px;
  }
}

.timetable-error-tooltip {
  height: 75px;
  padding-top: 40% !important;

  .circle {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-bottom: -5%;
    padding-top: 5%;
    background: $primary;
  }
}

.nametableRow-error-tooltip {
  right: -3px !important;
}
