.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;

  background: $white;
  border: 1px solid $table-border-color-grey;
  box-sizing: border-box;
  border-radius: 10px;

  overflow: hidden;

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    position: static;

    //text
    text-align: center;
    letter-spacing: 0.75px;
    font-family: $font-family-table;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;

    &:not(:last-child) {
      border-bottom: 1px solid $table-border-color-grey;
    }

    .mainCell {
      flex: 1 1 auto;
      border-left: 1px solid $table-border-color-grey;
      align-items: center;
      width: 120%;
      height: 101%;
      cursor: cell;

      &.blocked {
        cursor: default !important;
      }

      & .content {
        display: block;
        height: 100% !important;
        margin: 0;

        p {
          padding: 20%;
          height: 100%;
        }

        input {
          margin: 1%;
        }
      }

      &:first-child {
        border-left: 0;
      }
    }

    .selection {
      background-color: $selection-color !important;
    }

    .summaryCell {
      flex: 1 1 auto;
      align-items: center;
      height: 103%;
      width: 120%;
      border-top: 1px solid $table-border-color-grey;
      border-left: 1px solid $table-border-color-grey;

      padding-top: 8%;

      color: $cell-color;
      background: $white;

      &:first-child {
        border-left: 0;
      }
    }

    .overtimeHeaderCell {
      padding-top: 100%;
      padding-bottom: 100%;
      align-content: center;
      position: relative;
      bottom: 25%;

      height: 100%;
      width: 100%;
      border-left: 0.5px solid $table-border-color-grey;

      &:first-child {
        border-left: 0;
      }
    }

    #thisMonth {
      color: $cell-color;
      background: $white;
    }

    #otherMonth {
      color: $cell-other-color;
      background: $cell-other-month-background-color;
    }

    #weekend {
      color: $cell-other-color;
      background: $cell-weekend-background-color;
    }

    .timetableCell {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      align-items: center;
      padding-top: 50%;
      padding-bottom: 50%;
      width: 100%;
      border-left: 1px solid $table-border-color-grey;

      &:first-child {
        border-left: 0;
      }
    }

    #thisMonthHeader {
      color: $table-color;
      background: $header-curr-month-background-color;
    }

    #otherMonthHeader {
      color: $opacity-table-color-5;
      background: $opacity-table-background;
    }

    #weekendHeader {
      color: $table-color;
      background: $cell-weekend-header-background-color;
    }

    .cell-input {
      flex-direction: column;
      width: 100%;
      height: 35px;

      margin-top: -5px;
    }
  }

  #summaryRow {
    width: 102px;
    height: 40px;
  }

  #mainRow {
    width: 1156px;
    height: 40px;
  }

  #timetableRow {
    width: 1156px;
    height: 70px;
  }
}

#summaryTable {
  width: 102px;
}

#mainTable {
  width: 1156px;
}

#overtimeHeaderTable {
  width: 102px;
  height: 74px;
}

span.tick {
  transform: rotate(90deg);
  display: inline-block;
}

.middleSection {
  height: 50px;

  hr.middle {
    width: 102%;
    border: 1px solid $table-border-color-grey;
  }

  .middleCell {
    width: 110px;

    font-family: $font-family-table;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: 0.75px;

    color: $primary;
  }
}

.summaryContainer {
  padding-left: 2%;
}

.sectionContainer {
  margin-bottom: 100px;
}

span {
  &.circle {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-bottom: -10%;
    padding-top: 10%;
    background: $primary;
  }

  &.today {
    font-family: $font-family-base;
    font-weight: 600;
    font-size: 16px;
    color: $white;
    margin-bottom: 10%;
  }

  &.bolded {
    font-family: $font-family-base;
    font-weight: 600;
    font-size: 16px;
  }

  &.rotated {
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-lr;
    transform: rotate(180deg);
  }

  &.error-triangle {
    position: absolute;
    top: -3px;
    right: -6px;
    display: block;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;

    border-bottom: 7px solid $error-red;
    box-shadow: $error-triangle-box-shadow;

    transform: rotate(45deg);
  }
}

p {
  &.relative {
    position: relative;
  }
}
