.toolbar-container {
  display: flex;
  flex-direction: row;
  width: 100%;

  .buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
  }

  .filler {
    flex-grow: 1;
  }

  .editing-row {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 24px;
  }

  #edit-page {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #schedule-editing {
    margin: 24px;
  }
}
