/* This Source Code Form is subject to the terms of the Mozilla Public 
 * License, v. 2.0. If a copy of the MPL was not distributed with this 
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
@import "variables";

:export {
  primary: $primary;
  secondary: $secondary;
  primaryTextColor: $primary-text-color;
  secondaryTextColor: $secondary-text-color;
  fontFamilyPrimary: $font-family-primary;
  babysitterLabelBackround: $babysitter-label-background;
  nurseLabelBackround: $nurse-label-background;
  workerTableBorderColor: $worker-table-border-color;

  fontSizeBase: $font-size-base;
  fontSizeXl: $font-size-xl;
  fontSizeLg: $font-size-lg;
  fontSizeSm: $font-size-sm;
  fontSizeXs: $font-size-xs;

  h1FontSize: $h1-font-size;
  h2FontSize: $h2-font-size;
  h3FontSize: $h3-font-size;
  h4FontSize: $h4-font-size;
  h5FontSize: $h5-font-size;
  h6FontSize: $h6-font-size;

  fontWeightLight: $font-weight-light;
  fontWeightNormal: $font-weight-normal;
  fontWeightBold: $font-weight-bold;
  fontWeightExtraBold: $font-weight-extra-bold;

  headingLetterSpacing: $heading-letter-spacing;

  lineHeightXl: $line-height-xl;
}
