#workersCalendar {
  width: 100%;

  .calendarRow {
    width: 100%;
    height: 6.75vh;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
  }

  .dayName {
    size: 14px;
    letter-spacing: 0.75px;
    font-weight: 400;
    width: 14.2%;
    height: 30px;
    padding: 5px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
  }

  .workersCalendarCell {
    width: 14.2%;
    height: 100%;
    background-color: white;
    outline: 1px solid #d6d8e7;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .TopCellPart {
      letter-spacing: 0.75px;
      font-weight: 400;
      display: flex;
      height: 40%;
      margin: 2px 5px 4px 5px;
      flex-direction: row;
      justify-content: flex-end;
    }

    .notCurrentMonthtrue {
      color: $gray-500;
    }

    .BottomCellPart {
      height: 100%;
      min-height: 3vh;
      size: 4px;
      letter-spacing: 0.25px;
      font-weight: 800;
      display: flex;
      margin: 0 4px 4px 4px;
      justify-content: flex-start;
      flex-direction: row;
      border-radius: 2px;

      p {
        margin: auto;
      }

      .leftBorder {
        width: 4px;
        height: 100%;
        margin-right: 4px;
        border-radius: 2px 0 0 2px;
      }
    }

    .hasNexttrue {
      width: 100%;
      margin: 0 0 4px 4px;
      border-radius: 2px 0 0 2px;
    }

    .keepOntrueL4 {
      width: 100%;
      margin: 0 0 4px 0;
      border-radius: 0;

      .leftBorderColor {
        width: 0;
      }

      background-color: $l4-50;
      color: $l4-50;
    }

    .keepOntrueK {
      width: 100%;
      margin: 0 0 4px 0;
      border-radius: 0;

      .leftBorderColor {
        width: 0;
      }

      background-color: $kwaratanna-50;
      color: $kwaratanna-50;
    }

    .keepOntrueU {
      width: 100%;
      margin: 0 0 4px 0;
      border-radius: 0;

      .leftBorderColor {
        width: 0;
      }

      background-color: $urlop-50;
    }

    .hasNextfalse {
      margin: 0 0 4px 0;
      width: 90%;
      border-radius: 0 2px 2px 0;
    }

    .keepOnfalseD {
      color: $dzien;
    }

    .keepOnfalseDN {
      color: $dzien-noc;
    }

    .keepOnfalseR {
      color: $rano;
    }

    .keepOnfalseN {
      color: $noc;
    }

    .keepOnfalseP {
      color: $popoludnie;
    }

    .keepOnfalseL4 {
      .leftBorderColor {
        background-color: $l4;
      }

      background-color: $l4-50;
      color: $white;
    }

    .keepOnfalseK {
      .leftBorderColor {
        background-color: $kwaratanna;
      }

      background-color: $kwaratanna-50;
      color: $white;
    }

    .keepOnfalseU {
      .leftBorderColor {
        background-color: $urlop;
      }

      background-color: $urlop-50;
    }
  }
}
