/* This Source Code Form is subject to the terms of the Mozilla Public 
 * License, v. 2.0. If a copy of the MPL was not distributed with this 
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
@import "variables";

.workers-table {
  margin-top: 45px;
  .action-button {
    font-size: $font-size-sm;
    padding: 2px 25px 2px;
  }

  .worker-label {
    border-radius: $btn-border-radius;
    font-weight: $font-weight-normal;
    letter-spacing: $btn-letter-spacing;
    padding: 6px;
  }

  .nurse-label {
    background-color: $nurse-label-background;
  }

  .other-label {
    background-color: $babysitter-label-background;
  }

  #shiftsWord {
    font-size: 16px;
    font-weight: 700;
    margin: 40px 0 20px 0;
  }
}
