// Route Buttons

$indicator-color: #1d3557;
$route-text-color: #000000;

:export {
  indicatorColor: $indicator-color;
  routeTextColor: $route-text-color;
}

.tabs-and-buttons {
  width: 100%;
}

.tabs-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  .filler {
    flex-grow: 1;
  }
}
