- name: sonar-scanner
  uses: Warchant/setup-sonar-scanner@v3
- name: SonarQube
  on:
    push:
      branches:
        - next # or the name of your main branch
    pull_request:
      types: [ opened, synchronize, reopened ]
jobs:
  build:
    name: SonarQube
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: docker://sonarsource/sonar-scanner-cli:latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}